<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Registration</legend>
        <form method="POST" action="../controller/reg.php"  >
            ID: <br>
            <input type="text" name="id" id=""> <br>
            Password: <br>
            <input type="password" name="pass" id=""> <br>
            Confirm Password: <br>
            <input type="password" name="cpass" id=""> <br>
            Name: <br>
            <input type="text" name="name" id=""> <br>
            User Type
            <hr>
            <input type="radio" name="type" id="">User
            <input type="radio" name="type" id="">Admin
            <br>
            <br>
            <input type="submit" name="" value="Signup"> <a href="../view/login.html">Sign in</a>

        </form>
    </fieldset>
</body>
</html>